<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>ComeOn Javascript Test</title>
    <link href="images/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>

    <script src="lib/comeon.game-1.0.min.js"></script>
</head>
<body>        
<div class="ui one column center aligned page grid">
    <div class="column twelve wide">
        <img src="/images/logo.svg" alt="logo">
    </div>
</div>    
        
<div class="main container">