<% include ./partials/header %>

    <div class="login" style="display:block;">
        <div class="ui grid centered">
            <form action="/login" method="POST">
                <div class="fields">
                    <div class="required field">
                        <div class="ui icon input">
                            <input type="text" name="username" placeholder="username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui icon input">
                            <input type="password" name="password" placeholder="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui icon input">
                            <input type="submit" value="Login">
                            <i class="right chevron icon"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<% include ./partials/footer %>